# base is Google style guide
BasedOnStyle: Google
# we want more space per line
ColumnLimit: 120
# ensure consistent pointer alignment
DerivePointerAlignment: false
PointerAlignment: Right
# Only empty functions can be one-liner
AllowShortFunctionsOnASingleLine: Empty
# Arguments and parameters as block
BinPackArguments: false
BinPackParameters: false
