pos.csv filter=lfs diff=lfs merge=lfs -text
v.csv filter=lfs diff=lfs merge=lfs -text
*/pos_*.csv filter=lfs diff=lfs merge=lfs -text
*/v_*.csv filter=lfs diff=lfs merge=lfs -text
*/shells_*.yaml filter=lfs diff=lfs merge=lfs -text
