pos_test.csv filter=lfs diff=lfs merge=lfs -text
v_test.csv filter=lfs diff=lfs merge=lfs -text
*/pos_*.csv filter=lfs diff=lfs merge=lfs -text
*/v_*.csv filter=lfs diff=lfs merge=lfs -text
*/shells_*.txt filter=lfs diff=lfs merge=lfs -text
