# This workflow will install dependencies, run tests

name: Running tests

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install \
            git \
            clang \
            cmake \
            libomp-dev \
            libtbb-dev \
            doxygen \
            graphviz
    - name: Build project
      run: |
        mkdir build
        cd build
        CC=clang CXX=clang++ cmake ..
        make -j 4
    - name: Test with ctest
      run: |
        cd build
        # disable all irrelevant functor tests. We need to change this if we switch configuration
        ctest -j 4 --output-on-failure -E 'CollisionFunctorIntegration.*\/.[^v]' 
