# This workflow will install dependencies, run tests

name: Running tests

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install git
        sudo apt-get install clang
        sudo apt-get install cmake
        sudo apt-get install libomp-dev
        sudo apt-get install doxygen
        sudo apt-get install graphviz
    - name: Build project
      run: |
        mkdir build
        cd build
        CC=clang CXX=clang++ cmake ..
        make -j4
    - name: Test with ctest
      run: |
        cd build
        ctest -j12