# This workflow will install dependencies, run tests

name: Running tests with thread sanitizer

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install \
            git \
            clang \
            cmake \
            libomp-dev \
    - name: Build project
      run: |
        mkdir build
        cd build
        CC=clang CXX=clang++ cmake -DLADDS_ENABLE_THREAD_SANITIZER=ON ..
        make -j4
    - name: Test with ctest
      run: |
        cd build
        ctest -j12
